name: Release Charts

on:
  push:
    branches:
      - main
    tags: ["v*"]

env:
  repo_id_rsa_gitee: ${{ secrets.REPO_ID_RSA_GITEE }}
  repo_id_rsa_gitee_pub: ${{ secrets.REPO_ID_RSA_GITEE_PUB }}

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: executing remote ssh commands using key
        uses: appleboy/ssh-action@master
        with:
          host: gitee.com
          key: ${{ secrets.REPO_ID_RSA_GITEE }}
          script: |
            ssh -T git@gitee.com
      - name: test-ssh
        run: |
          ssh -T git@gitee.com
