name: Release Charts

on:
  push:
    branches:
      - main
    tags: ["v*"]

env:
  repo_id_rsa_gitee: ${{ secrets.REPO_ID_RSA_GITEE }}
  repo_id_rsa_gitee_pub: ${{ secrets.REPO_ID_RSA_GITEE_PUB }}

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: git-test
        run: |
          git clone https://gitee.com/Frapschen/webstore-demo-gitops.git
          cd webstore-demo-gitops
          ls -A
          echo $repo_id_rsa_gitee
          echo $repo_id_rsa_gitee_pub
      - name: test
        run: ssh -h
